@font-face {
    font-family: "Lato Bold";
    src: url(assets/fonts/Lato-Bold.ttf); 
   }

@font-face {
    font-family: "Lato Black";
    src: url(assets/fonts/Lato-Black.ttf); 
}

@font-face {
    font-family: "Lato Light";
    src: url(assets/fonts/Lato-Light.ttf); 
}

@font-face {
    font-family: "Lato Regular";
    src: url(assets/fonts/Lato-Regular.ttf); 
}

*{
    margin: 0;
    padding: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
  }

html{
    height: 100%;
    font-family: "Lato Bold", "Arial", sans-serif;
    color: #666d89;
    background-color: #ffffff;
}

body{
    width: 1020px;
    min-height: 100%;
    margin: 0 auto;  
}

h2 {
    padding-bottom: 18px;
    font-size: 30px;
    font-family: "Lato Black";
    letter-spacing: 0.1px;
}

p {
    font-size: 18px;
    font-family: "Lato Light";
    letter-spacing: -0.04px;
    line-height: 1.7em;
}


.content{
    width: 940px;
    margin: 0 auto;
}

.portfolio{
    height: 804px;
    padding-top: 60px;
    background-color: #2d303a;
    border-bottom: 6px solid #323746;
}

.portfolioDescription{
    height: 90px;
    overflow: hidden;
}

.workExamples {
    margin-top: 4px;
}

.workExamples .filters .filter{
    display: inline-block;
    height: 20px;
    padding-left: 7px;
    padding-right: 6px;
    padding-bottom: 20px;
    margin-left: 1px;
    margin-right: 5px;
    font-size: 12px;
    font-family: "Lato Regular";
    letter-spacing: -0.04px;
    line-height: 1.7em;
    border: 1px solid #666d89;
    border-radius: 5px;
}

.workExamples .filters .filter:hover,
.workExamples .filters .active{
    color: #dedede;
    border-color: #dedede;
    transition: 0.5s;
}

.workExamples .filters .filter:nth-child(3){
    padding-left: 6px;
    padding-right: 5px;
}

.workExamples > ul {
    display: flex;
    height: 601px;
    margin-top: 19px;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.workExamples > ul > li{
    overflow: hidden;
    width:220px;
    height: 187px;
}

/* **************************************************************************** */

.aboutUs{
    height: 669px;
    padding-top: 59px;
    background-color: #f2f2f2;
    border-bottom: 6px solid #ffffff;
}

.aboutUs .aboutUsAll{
    height: 150px;
    overflow: hidden;
    margin-bottom: 9px;
}

.aboutUs .aboutIndividual{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.individual{
    display: inline-block;
    width: 300px;
}

.individual .individualPhoto{
    display: block;
    width: 300px;
    height: 300px;
}

.individual .aboutPerson {
    display: block;
    height: 111px;
    overflow: hidden;
}

.individual .aboutPerson h3{
    margin-top: 18px;
    font-size: 18px;
    line-height: 0.992;
    font-family: "Lato Black";
}

.individual .aboutPerson p{
    margin-top: 10px;
    font-size: 12px;
    font-family: "Lato Regular";
    line-height: 1.797;
}
  
.aboutUs .links .link{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid #666d89;
    border-radius: 50%;
}

.aboutUs .links .facebook{
    background-image: url(assets/img/icon_facebook.png);
}

.aboutUs .links .googlePlus{
    background-image: url(assets/img/icon_google+.png);
}

.aboutUs .links .twitter{
    background-image: url(assets/img/icon_twitter.png);
}

.aboutUs .links .linkedIn{
    background-image: url(assets/img/icon_linkedin.png);
}

.aboutUs .links .link:hover{
    background:#666d89;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: 0.5s;
}

.aboutUs .links .facebook:hover{
    background-image: url(assets/img/icon_hover_facebook.png);
}

.aboutUs .links .googlePlus:hover{
    background-image: url(assets/img/icon_hover_google+.png);
}

.aboutUs .links .twitter:hover{
    background-image: url(assets/img/icon_hover_twitter.png);
}

.aboutUs .links .linkedIn:hover{
    background-image: url(assets/img/icon_hover_linkedin.png);
}